<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dongkyul.pospot"
    android:versionCode="4"
    android:versionName="1.0.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".view.common.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/pospot_ico_plat"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pospot_ico_plat"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.main.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.main.WelcomeActivity" />
        <activity android:name=".view.main.MainMapActivity" />
        <activity android:name=".view.main.FilterListActivity" />
        <activity android:name=".view.main.MarkerClickedActivity" />
        <activity android:name=".view.main.TagRankActivity" />
        <activity android:name=".view.main.PhotoRealmDBCheck" />
        <activity android:name=".view.main.PhotoMainActivity" />
        <activity android:name=".view.main.PhotoMarkerViewActivity" />
        <activity android:name=".view.main.RecommendedPlacesActivity" />
        <activity android:name=".view.main.PhotoMarkerActivity" />
        <activity android:name=".view.main.FilteredCameraActivity"></activity>
        <activity android:name=".view.main.MyTourActivity"></activity>
    </application>

</manifest>